# for-loop <hr style="border:2.px solid #Ff0cb"></hr>

Data Analyst: Charles Ian Gabriel M. Guevarra <br>
Department: Electrical Engineering

In [46]:
#pip install numpy - -upgrade

In [45]:
import numpy as np

# Iterating Over a list

In [13]:
# at index 0, i = 'apple'
fruits = ['apple','pinapple','watermelone',8]
for i in fruits:
    print(i)

apple
pinapple
watermelone
8

In [14]:
numbers = [1,2,3,4,5,6,7,8,9,10]
for n in numbers:
    print(n)

1
2
3
4
5
6
7
8
9
10

In [47]:
np .mean(numbers)

np.float64(5.5)

In [49]:
# population standard deviation
np.std(numbers)

np.float64(2.8722813232690143)

In [26]:
# for range(a,b,c), a is start, b is limit, c is interval
for j in range (0,110,15):
    print(j)

0
15
30
45
60
75
90
105

# Iterating Over a Dictionary

In [39]:
for char in "Mississippi":
    print(char)

M
i
s
s
i
s
s
i
p
p
i

In [40]:
employee = {
    'name':'Greg',
    "position" :'supervisor',
    'salary' : 12000
}
for key in employee:
    print(key)

for value in employee.values():
    print(value)

name
position
salary
Greg
supervisor
12000